<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Dog To Me</title>

    <link rel="stylesheet" href="{{ asset('bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
          {% include 'AppBundle::Partials/navbar.html.twig' %}
          <div class="container content">
              <div class="col-lg-12" id="alertsPets"></div>
              <div class="col-lg-3">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        {{ SearchPets() }}
                    </div>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="col-lg-12">
                      <div id="resultSearchPets"></div>
                  </div>
                  <div class="col-lg-12"  id="homePets">
                      {% block body %}{% endblock %}
                  </div>
              </div>
              <div class="col-lg-9">
                  {% block foot_content %}{% endblock %}
              </div>
          </div>
    <script src="{{ asset('bundles/app/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>

  </body>
</html>
